<template>
  <div class="flex flex-col content-center">
    <b-button @click="$emit('back')" class="back-btn" variant="warning">
      <md-arrow-back-icon></md-arrow-back-icon>Back to dimension selection
    </b-button>
    <div class="flex flex-col">
      <h1>
        <div class="flex content-center">
          Result of request
          <div @click="infoModal">
            <md-information-circle-outline-icon animate="beat" class="info-i"></md-information-circle-outline-icon>
          </div>
        </div>
      </h1>
      <b-modal id="modal-info" title="Searched" ok-only>
        <div v-for="(item, i) in selectedDimensions" :key="i">
          <h4 style="color: red">{{item.name}}</h4>
          <div v-for="(itemm, ii) in item.names" :key="ii">
            <span>{{itemm}}</span>
          </div>
        </div>
      </b-modal>
      <span style="margin-bottom: 20px;">
        [Found:
        <b style="color:red">{{data.facts.length}}</b>
        {{data.facts.length >1 ? 'values': 'value'}}]
      </span>
    </div>

    <h4>Raw data table</h4>
    <data-table :data="data.facts" />
    <h4>Fact table</h4>
    <fact-table :data="data.cells" />
    <div v-if="mySeries[0].values.length">
      <zingchart class="format" :data="myData" :series="mySeries"></zingchart>
      <b-list-group class="format">
        <b-list-group-item class="flex" v-for="(stat,i) in Object.keys(statistic)" :key="i">
          <span class="flex-1 text-bold">{{`${stat}:`}}</span>
          <span class="flex-1">{{`${statistic[stat]}` | roundAndKg}}</span>
        </b-list-group-item>
      </b-list-group>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

import MdArrowBackIcon from "vue-ionicons/dist/md-arrow-back.vue";
import MdInformationCircleOutlineIcon from "vue-ionicons/dist/md-information-circle-outline.vue";
import DataTable from "@/components/Overview/DataTable.vue";
import FactTable from "@/components/Overview/FactTable.vue";

import {
  max,
  maxSorted,
  min,
  sum,
  mean,
  mode,
  median,
  variance
} from "simple-statistics";

export default Vue.extend({
  components: {
    DataTable,
    FactTable,
    MdArrowBackIcon,
    MdInformationCircleOutlineIcon
  },
  data: () => ({
    selectedDimensions: [] as any,
    myData: {
      type: "line",
      plot: {
        aspect: "spline"
      },
      title: {
        text: "Weight"
      }
    },
    mySeries: [{ values: [] }] as any[],
    statistic: {} as any
  }),
  props: {
    data: {
      type: Object,
      required: true
    },
    selected: {
      type: Object,
      required: true
    }
  },
  filters: {
    roundAndKg: function(val: number) {
      var multiplier = Math.pow(10, 1 || 0);
      return Math.round(val * multiplier) / multiplier + " Kg";
    }
  },
  created() {
    console.log(this.selected);
    this.doStatistics();
    this.selectedDimensions = Object.keys(this.selected).map(s => {
      const names = this.selected[s].map((ss: any) => {
        return ss[s];
      });
      return {
        name: s,
        names
      };
    });
  },
  methods: {
    infoModal() {
      this.$bvModal.show("modal-info");
    },
    doStatistics() {
      this.data.facts.forEach((e: any) => {
        this.mySeries[0].values.push(e.weight);
      });
      const data = this.mySeries[0].values;
      if (!data.length) {
        this.$bvToast.toast("No data have been found, try again!", {
          title: "Warning!",
          variant: "warning ",
          toaster: "b-toaster-top-center",
          solid: true,
          autoHideDelay: 3000
        });
      } else {
        this.statistic = {
          max: max(data),
          min: min(data),
          sum: sum(data),
          mean: mean(data),
          mode: mode(data),
          median: median(data),
          variance: variance(data)
        };
      }
    }
  }
});
</script>

<style>
.format {
  width: unset !important;
  margin: 15px !important;
  outline: 1px solid #ccc;
}
</style>