<template>
  <div class="mts-wrapper">
    <h1>Choose the dimensions</h1>
    <multiselect
      class="mts"
      v-model="values"
      tag-placeholder="Add this as new tag"
      placeholder="Search or add a tag"
      label="name"
      track-by="name"
      :close-on-select="false"
      :options="items"
      :multiple="true"
      :taggable="true"
      @input="handleMainSelect"
    ></multiselect>
    <!-- <pre class="language-json"><code>{{ value  }}</code></pre> -->
    <div style="width:100%" v-for="val in values" :key="val.name">
      <selected-dimension :emitSelects="emitSelects" @dimChange="emittedSelects" :dimension="val" />
    </div>
    <div style="width:70%">
      <b-button
        :disabled="disableButton"
        @click="$emit('sendDimensions')"
        block
        variant="primary"
      >Request data</b-button>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import Multiselect from "vue-multiselect";
import { getDimensions, getDice } from "@/api/api";
import { DimensionTable, DimensionWrapper, Dice } from "@/types";

import SelectedDimension from "@/components/Dice/SelectedDimension.vue";

export default Vue.extend({
  components: {
    Multiselect,
    SelectedDimension
  },
  data() {
    return {
      loading: true,
      items: [] as Array<DimensionWrapper>,
      values: [] as Array<DimensionWrapper>
    };
  },
  props: {
    emitSelects: {
      type: Boolean
    },
    disableButton: {
      type: Boolean
    }
  },
  created() {
    this.fetchAllData();
  },

  methods: {
    emittedSelects(data: any) {
      this.$emit("dimChange", data);
    },
    async fetchAllData(): Promise<any> {
      try {
        const data = await getDimensions();
        const lvl: any = data.find(d => d.level);
        this.items = [...data, lvl.level[0]];
        this.loading = false;
      } catch (error) {
        this.$bvToast.toast("An error has occured while fetching dimensions", {
          title: "Error",
          variant: "danger",
          toaster: "b-toaster-top-center",
          solid: true,
          autoHideDelay: 3000
        });
      }
    },
    handleMainSelect(data: any[]) {
      this.$emit("selChange", data);
    }
  }
});
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style >
</style>