<template>
  <div class="mts-wrapper">
    <h4>{{`Choose the ${dimension.name}`}}</h4>
    <multiselect
      class="mts"
      v-model="values"
      tag-placeholder="Add this as new tag"
      placeholder="Search or add a tag"
      :label="dimension.name"
      :track-by="dimension.name"
      :close-on-select="false"
      :options="items"
      :multiple="true"
      :taggable="true"
      @input="selectChanged"
    ></multiselect>
    <!-- <pre class="language-json"><code>{{ value  }}</code></pre> -->
  </div>
</template>


<script lang="ts">
import Vue from "vue";
import Multiselect from "vue-multiselect";

import { DimensionWrapper, Dice } from "@/types/index";

export default Vue.extend({
  props: {
    dimension: {
      type: Object as () => DimensionWrapper,
      required: true
    },
    emitSelects: {
      type: Boolean
    }
  },
  components: {
    Multiselect
  },
  data: () => ({
    loading: true,
    items: [] as Array<any>,
    values: [] as Array<any>
  }),
  created() {
    this.items = this.dimension.table;
    this.loading = false;
    if (this.emitSelects) {
      this.selectChanged();
    }
  },
  beforeDestroy() {
    this.$emit("dimChange", {
      name: this.dimension.name,
      tables: [],
      destroy: true
    });
  },
  methods: {
    selectChanged() {
      this.$emit("dimChange", {
        name: this.dimension.name,
        tables: this.values
      });
    }
  }
});
</script>

<style scoped>
</style>
