<template>
  <div>
    <select-area
      v-if="!sent && !loading"
      @sendDimensions="sendDimensions"
      @dimChange="emittedSelects"
      @selChange="emittedMainSelect"
      :emitSelects="emitSelects"
      :key="skey"
      :disableButton="disableBtn"
    />
    <div v-else-if="loading" class="text-center text-success my-2">
      <b-spinner class="align-middle"></b-spinner>
      <strong>Loading...</strong>
    </div>
    <result v-else @resetSelect="resetSelect" :data="resData" @back="back" :selected="statData" />
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { getDimensions, getDice } from "../api/api";
import { DimensionTable, DimensionWrapper, Dice, SelectValue } from "../types";

import SelectArea from "@/components/Dice/SelectArea.vue";
import Result from "@/components/Dice/Result.vue";

export default Vue.extend({
  components: {
    SelectArea,
    Result
  },
  data() {
    return {
      loading: true,
      items: [] as Array<DimensionWrapper>,
      values: [] as Array<DimensionWrapper>,
      selectValues: {} as any,
      sent: false,
      resData: [] as any,
      emitSelects: false as any,
      skey: 0,
      disableBtn: true,
      statData: {} as any,
      title: "Dice - Select"
    };
  },
  created() {
    document.title = this.title;
    this.fetchAllData();
  },
  watch: {
    sent: function(newValue: boolean, oldValue: boolean) {
      newValue
        ? (document.title = "Dice - Result")
        : (document.title = "Dice - Select");
    }
  },
  methods: {
    back() {
      this.resData = [];
      this.selectValues = {};
      this.sent = false;
    },
    async fetchAllData(): Promise<any> {
      const data = await getDimensions();
      this.items = data;
      this.loading = false;
    },
    async sendDimensions() {
      this.statData = { ...this.selectValues };
      this.loading = true;
      const dataToSend: Array<Dice> = Object.keys(this.selectValues).map(s => {
        const ids: Array<number> = this.selectValues[s].map((i: any) => i.id);
        return {
          name: s,
          ids
        };
      });
      console.log(this.selectValues);
      const res = await getDice(dataToSend);
      this.resData = res;
      this.sent = true;
      this.loading = false;
    },
    emittedSelects(data: SelectValue) {
      console.log(data);
      this.selectValues[data.name] = data.tables;
      this.emitSelects = false;
      const disable = Object.keys(this.selectValues).find(
        (d: any) => !this.selectValues[d].length
      );
      console.log(disable);
      if (disable) {
        if (data.destroy) {
          let temp = { ...this.selectValues };
          delete temp[data.name];
          this.selectValues = { ...temp };
          const anyIn = Object.keys(this.selectValues).length > 0;
          if (!anyIn) this.disableBtn = true;
          else {
            const a = Object.keys(this.selectValues).some(
              s => this.selectValues[s].length > 0
            );
            if (a) this.disableBtn = false;
          }
        } else {
          this.disableBtn = true;
        }
        console.log(this.selectValues);
      } else {
        this.disableBtn = false;
      }
    },
    emittedMainSelect(data: any) {
      this.emitSelects = true;
    },
    resetSelect() {
      this.disableBtn = true;
    }
  }
});
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style >
</style>