<template>
  <div class="home">
    <h1>Overview</h1>
    <div>
      <b-tabs
        active-nav-item-class="font-weight-bold text-uppercase text-danger"
        active-tab-class="font-weight-bold text-success"
        content-class="mt-3"
        v-model="currentTab"
        @activate-tab="onTabChange"
      >
        <b-tab lazy :title="tabs[0]" active>
          <data-table />
        </b-tab>
        <b-tab lazy :title="tabs[1]">
          <fact-table />
        </b-tab>
      </b-tabs>
      <dimensions />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import DataTable from "@/components/Overview/DataTable.vue";
import FactTable from "@/components/Overview/FactTable.vue";
import Dimensions from "@/components/Overview/Dimensions.vue";

export default Vue.extend({
  name: "home" as string,
  data: () => ({
    currentTab: 0 as number,
    tabs: ["Raw Data", "Facts"] as Array<string>,
    title: document.title as any
  }),
  components: {
    DataTable,
    FactTable,
    Dimensions
  },
  methods: {
    onTabChange(newTab: number, prevTab: number, ev: any): void {
      this.upgradeTitle(newTab);
    },
    upgradeTitle(tabIndex: number): void {
      document.title = `${this.title} - ${this.tabs[tabIndex]}`;
    }
  },
  mounted(): void {
    this.upgradeTitle(this.currentTab);
  }
});
</script>
