<template>
  <b-container fluid>
    <!-- User Interface controls -->
    <b-row>
      <b-col lg="6" class="my-1">
        <b-form-group
          label="Sort"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          label-for="sortBySelect"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-select v-model="sortBy" id="sortBySelect" :options="sortOptions" class="w-75">
              <template v-slot:first>
                <option value>-- none --</option>
              </template>
            </b-form-select>
            <b-form-select v-model="sortDesc" size="sm" :disabled="!sortBy" class="w-25">
              <option :value="false">Asc</option>
              <option :value="true">Desc</option>
            </b-form-select>
          </b-input-group>
        </b-form-group>
      </b-col>

      <b-col lg="6" class="my-1">
        <b-form-group
          label="Filter"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          label-for="filterInput"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>

      <b-col sm="5" md="6" class="my-1">
        <b-form-group
          label="Per page"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
        </b-form-group>
      </b-col>

      <b-col sm="7" md="6" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>

    <!-- Main table element -->
    <b-table
      show-empty
      small
      stacked="md"
      :items="items"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filterIncludedFields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      :busy="loading"
      class="t-df"
    >
      <!-- <template v-slot:cell(name)="row">{{ row.value.first }} {{ row.value.last }}</template> -->
      <template v-slot:table-busy>
        <div class="text-center text-success my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>

      <template v-slot:row-details="row">
        <b-card>
          <ul>
            <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
          </ul>
        </b-card>
      </template>
    </b-table>
  </b-container>
</template>

<script lang="ts">
import Vue from "vue";
import { getRawData } from "@/api/api";
import { SortOption, Pokemon } from "@/types";
export default Vue.extend({
  props: {
    data: {
      type: Array,
      default: null
    }
  },
  data() {
    return {
      loading: true,
      items: new Array<any>(),
      fields: [
        {
          key: "id",
          label: "Id",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "num",
          label: "Number",
          sortable: true,
          class: "text-center"
        },
        {
          key: "name",
          label: "Name",
          sortable: true
        },
        { key: "type", label: "Type", sortable: true },
        {
          key: "candy",
          label: "Candy",
          sortable: true
        },
        {
          key: "candy_count",
          label: "Count",
          sortable: true
        },
        {
          key: "egg",
          label: "Egg",
          sortable: true
        },
        {
          key: "weaknesses",
          label: "Weakness",
          sortable: true
        },
        {
          key: "next_evolution",
          label: "Next Evolution",
          sortable: true
        },
        {
          key: "prev_evolution",
          label: "Previous Evolution",
          sortable: true
        },
        {
          key: "weight",
          label: "Weight",
          sortable: true
        }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  computed: {
    sortOptions(): Array<SortOption> {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  mounted() {},
  created() {
    if (!this.data) {
      this.fetchAllData();
    } else {
      this.items = this.data;
      this.totalRows = this.items.length;
      this.loading = false;
    }
  },
  methods: {
    async fetchAllData(): Promise<any> {
      try {
        const data = await getRawData();
        this.items = data;
        this.loading = false;
        this.totalRows = this.items.length;
      } catch (err) {
        this.loading = false;

        this.$bvToast.toast(
          "An error has occured while fetching raw data table",
          {
            title: "Error",
            variant: "danger",
            toaster: "b-toaster-top-center",
            solid: true,
            autoHideDelay: 3000
          }
        );
      }
    }
  }
});
</script>