<template>
  <div>
    <div>
      <b-table
        :items="items"
        :fields="fields"
        :sort-by.sync="sortBy"
        :current-page="currentPage"
        :sort-desc.sync="sortDesc"
        :per-page="perPage"
        responsive="sm"
      ></b-table>

      <div>
        <b-row>
          <b-col sm="7" md="6" class="my-1">
            <b-pagination
              v-model="currentPage"
              :total-rows="totalRows"
              :per-page="perPage"
              align="fill"
              size="sm"
              class="my-0"
            ></b-pagination>
          </b-col>
          <b-col v-if="dimension.level" sm="7" md="6" class="my-1">
            <div v-for="(lv, i) in dimension.level" :key="i">
              <b-button
                style="font-size:0.78rem !important"
                @click="openLvl(lv)"
                variant="warning"
              >{{lv.name}}</b-button>
              <b-modal id="modal-level" :title="lv.name" ok-only>
                <b-table
                  :items="lv.table"
                  :fields="['id', lv.name]"
                  :sort-by.sync="sortBy"
                  :current-page="currentPage2"
                  :sort-desc.sync="sortDesc"
                  :per-page="perPage"
                  responsive="sm"
                ></b-table>
                <b-row>
                  <b-col sm="7" md="6" class="my-1">
                    <b-pagination
                      v-model="currentPage2"
                      :total-rows="totalRows2"
                      :per-page="perPage"
                      align="fill"
                      size="sm"
                      class="my-0"
                    ></b-pagination>
                  </b-col>
                </b-row>
              </b-modal>
            </div>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
  name: "dimension",
  data: () => ({
    sortBy: "id",
    sortDesc: false,
    fields: [],
    items: [],
    totalRows: 1,
    totalRows2: 1,
    currentPage: 1,
    currentPage2: 1,
    perPage: 5,
    name: ""
  }),
  props: {
    dimension: {
      type: Object,
      required: true
    }
  },
  methods: {
    openLvl(lvl) {
      this.$bvModal.show("modal-level");
      this.totalRows2 = lvl.table.length;
    }
  },
  created() {
    const name = this.dimension.name;
    const table = this.dimension.table;
    this.fields = this.dimension.fields;
    this.items = table;
    this.totalRows = table.length;
    this.name = name;
  }
});
</script>

<style>
</style>