<template>
  <div>
    <h1>Dimensions</h1>
    <div v-if="!loading" class="flex flex-wrap">
      <div class="flex-1 t-dim tab-margin" :key="index" v-for="(item,index) in items">
        <dimension :dimension="item" />
      </div>
    </div>
    <div v-else class="text-center text-success my-2">
      <b-spinner class="align-middle"></b-spinner>
      <strong>Loading...</strong>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import Dimension from "./Dimension.vue";
import { getDimensions } from "@/api/api";
import { Fact, DimensionTable } from "@/types";
export default Vue.extend({
  data: () => ({
    items: [] as Array<any>,
    loading: true
  }),
  components: {
    Dimension
  },
  created() {
    this.fetchAllData();
  },
  methods: {
    async fetchAllData() {
      try {
        const data = await getDimensions();
        this.items = data;
        this.loading = false;
        console.log(this.loading);
      } catch (error) {
        this.$bvToast.toast("An error has occured while fetching dimensions", {
          title: "Error",
          variant: "danger",
          toaster: "b-toaster-top-center",
          solid: true,
          autoHideDelay: 3000
        });
      }
    }
  }
});
</script>
<style></style>