body {
    background: whitesmoke;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.items-center {
    align-items: center;
}

.content-center {
    justify-content: center;
}

.flex-1 {
    flex: 1;
}

.t-dim {
    min-width: 40%;
    margin: 15px;
    outline: 1px solid #ccc;
    background: white !important;
}

.t-df {
    outline: 1px solid #ccc;
    background: white !important;
}

.flex-wrap {
    flex-wrap: wrap;
}

.mts {
    margin: 0px 15px 15px 15px;
    width: unset !important;
    width: 70% !important;
}

.mts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-btn {
    justify-self: flex-start;
    align-items: center;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-i {
    color: #17a2b8;
    cursor: pointer;
    transition: .3s;
}

.info-i:hover {
    opacity: .3;
}

.text-bold {
    font-weight: bold;
}